.landing-container {
    margin-top: 3.5em;
    width: 100%;
}

.banner {
    width: 100%;
    background-color: hotpink;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start {
    color: black;
    text-decoration: none;
}
